Person/WebContent/wsdl/PersonHandler.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.assignment.accolite.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.assignment.accolite.com" xmlns:intf="http://soap.assignment.accolite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.assignment.accolite.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="update">
    <complexType>
     <sequence>
      <element name="eid" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType>
     <sequence>
      <element name="updateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delete">
    <complexType>
     <sequence>
      <element name="eid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteResponse">
    <complexType>
     <sequence>
      <element name="deleteReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="create">
    <complexType>
     <sequence>
      <element name="eid" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createResponse">
    <complexType>
     <sequence>
      <element name="createReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieve">
    <complexType>
     <sequence>
      <element name="eid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveResponse">
    <complexType>
     <sequence>
      <element name="retrieveReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveAll">
    <complexType/>
   </element>
   <element name="retrieveAllResponse">
    <complexType>
     <sequence>
      <element name="retrieveAllReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createResponse">

      <wsdl:part element="impl:createResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveResponse">

      <wsdl:part element="impl:retrieveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteRequest">

      <wsdl:part element="impl:delete" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveAllRequest">

      <wsdl:part element="impl:retrieveAll" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveRequest">

      <wsdl:part element="impl:retrieve" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteResponse">

      <wsdl:part element="impl:deleteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createRequest">

      <wsdl:part element="impl:create" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveAllResponse">

      <wsdl:part element="impl:retrieveAllResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PersonHandler">

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delete">

         <wsdl:input message="impl:deleteRequest" name="deleteRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteResponse" name="deleteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdl:input message="impl:createRequest" name="createRequest">

       </wsdl:input>

         <wsdl:output message="impl:createResponse" name="createResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieve">

         <wsdl:input message="impl:retrieveRequest" name="retrieveRequest">

       </wsdl:input>

         <wsdl:output message="impl:retrieveResponse" name="retrieveResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieveAll">

         <wsdl:input message="impl:retrieveAllRequest" name="retrieveAllRequest">

       </wsdl:input>

         <wsdl:output message="impl:retrieveAllResponse" name="retrieveAllResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PersonHandlerSoapBinding" type="impl:PersonHandler">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delete">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieve">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieveAll">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveAllRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveAllResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PersonHandlerService">

      <wsdl:port binding="impl:PersonHandlerSoapBinding" name="PersonHandler">

         <wsdlsoap:address location="http://localhost:6061/Person/services/PersonHandler"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
